---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section>
			<ul>
				{
					posts.map((post) => (
						<li>
							<span class="italic pr-8"><FormattedDate date={post.data.pubDate}/></span>
							<a href={`/blog/${post.slug}/`} class="underline">{post.data.title}</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
