---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import TagList from '../components/TagList.astro';

type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const tags = (post.data.tags || '').split(',').map((tag) => tag.trim()).sort()
---

<BaseLayout title={post.data.title} description={post.data.description}>
	<main>
		<article class="[&>*:last-child]:mb-1">
			<div class="mb-4">
				<h1 class="font-bold text-4xl">{post.data.title}</h1>
				<TagList tags={tags} />
				<span class="text-xs font-bold"><FormattedDate date={post.data.pubDate} /></span>
				{
					post.data.updatedDate && (
						<div class="italic text-xs">
							Last updated on <FormattedDate date={post.data.updatedDate} />
						</div>
					)
				}
			</div>
			<slot />
		</article>
	</main>
</BaseLayout>
